li>a{
    text-decoration: none;
}
.ng-container-global{
    padding-top: 10em;
}

.central-page{
    margin-top: 10em;
}
.bloc{
    padding-top: 4em;
}

h1 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bold;
    font-size: 1.5em;
  }