$primary-color: #789aa7;
$secondary-color: #8cbec6;

tr, th, td{
    background: white;
    border-color: $primary-color;
    color: rgb(27, 26, 26);
}
  
.selected{
  background-color: $secondary-color;
  color: white;
}
  .md-dialog {
    opacity: 0;
  }
  
  
 
  .mat-elevation-z8 table {
    border: 1px solid lightcyan;
  }
  .mat-elevation-z8 tr, .mat-elevation-z8 mat-header-cell {
    height: 2em;
  }
  .mat-elevation-z8 th, .mat-elevation-z8 mat-header-cell, th {
    background-color: $primary-color;
    color: white;
  }
  h1 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bold;
  }
  
  //lignes
  tr:nth-child(even) {
      background-color: #f2f2f2;
  }

  tr:hover{
    background-color: $secondary-color;
  }

  mat-paginator{
    background-color: $primary-color    ;
  }

  .table-striped{
    border: 1px solid gray;
  }
