<div class="container shadow bg-white ">
  <div class="row">
    <div class="col-lg-12 bg-primary">
      <h5 class="text-white fs-6 pt-1">Paramètres vehicules</h5>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-2 p-2 border">
      <a
        href="voiture/marqueAutomobile/list"
        class="text-black text-decoration-none text-center"
      >
        <p>Marque Automobile</p>
        <p><i class="fa-solid fs-1 text-primary fa-car"></i></p>
      </a>
    </div>
    <div class="col-lg-2 p-2 border">
      <a
        href="voiture/model/list"
        class="text-black text-decoration-none text-center"
      >
        <p>Model Automobile</p>
        <p><i class="fa-solid fs-1 fa-car-side" style="color:green"></i></p>
      </a>
    </div>
    <div class="col-lg-2 p-2 border">
      <a
        href="voiture/typeAutomobile/list"
        class="text-black text-decoration-none text-center"
      >
        <p>Type Automobile</p>
        <p><i class="fa-solid text- fs-1 fa-truck" style="color: hotpink;"></i></p>
      </a>
    </div>
    <div class="col-lg-2 p-2 border">
      <a
        href="voiture/genre/list"
        class="text-black text-decoration-none text-center"
      >
        <p>Genre Voiture</p>
        <p><i class="fa-sharp fs-1 text-primary fa-solid fa-car"></i></p>
      </a>
    </div>

    <div class="col-lg-2 p-2 border">
      <a
        href="voiture/sourceEnergie/list"
        class="text-black text-decoration-none text-center"
      >
        <p>Source Energie</p>
        <p><i class="fa-solid fs-1 text-danger fa-fire-flame-simple"></i></p>
      </a>
    </div>
    <div class="col-lg-2 p-2 border">
      <a
        href="voiture/category"
        class="text-black text-decoration-none text-center"
      >
        <p>Categories</p>
        <p><i class="fa-solid fs-1 fa-car-side" style="color: green;"></i></p>
      </a>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-6 border" style="padding-left: 0px;padding-right:0px;">
      <p class=" fs-6 p-1 text-white form-control col-lg-12 " style="padding: 0px;border-radius: 0px;background-color: #b136d2;font-weight: 500;">Localisation</p>
      <div>
        <div class="row">
          <div class="col-lg-4 p-2 ">
            <a
              href="voiture/departement "
              class="text-black text-decoration-none text-center"
            >
              <p>Departements</p>
              <p><i class="fa-solid fs-1  fa-house" style="color: rgb(128, 110, 110);" ></i></p>
            </a>
          </div>
          <div class="col-lg-4 p-2 ">
            <a
              href="voiture/arrondissement/list"
              class="text-black text-decoration-none text-center"
            >
              <p>Arrondissements</p>
              <p>
                <i
                  class="fa-solid fs-1 fa-location-dot"
                  style="color: #b136d2"
                ></i>
              </p>
            </a>
          </div>

          <div class="col-lg-4 p-2 ">
            <a
              href="voiture/quartier/list"
              class="text-black text-decoration-none text-center"
            >
              <p>Quartiers</p>
              <p>
                <i class="fa-solid fs-1 fa-bookmark" style="color: rgb(167, 107, 65);"></i>
              </p>
            </a>
          </div>

        </div>
      </div>
    </div>
    <div class="col-lg-6 bg-light border" style="padding-right: 0px;padding-left: 0px;">
      <p class=" text-white form-control fs-6 p-1 " style="padding: 0px;border-radius: 0px;background-color: orange;font-weight: 500;">Paramètres Comptables</p>
      <div>
        <div class="row">

          <div class="col-lg-4 p-2 ">
            <a
              href="voiture/compte/list"
              class="text-black text-decoration-none text-center"
            >
              <p>Plan Comptables</p>
              <p>
                <i class="fa-solid fs-1 text-primary fa-user-tie"></i>
              </p>
            </a>
          </div>

          <div class="col-lg-4 p-2 ">
            <a
              href="voiture/liasse/list"
              class="text-black text-decoration-none text-center"
            >
              <p>Liasses</p>
              <p>
                <i class="fa-solid fs-1 text-info fa-compass"></i>
              </p>
            </a>
          </div>
          <div class="col-lg-4 p-2 ">
            <a
              href="voiture/produit/list  "
              class="text-black text-decoration-none text-center"
            >
              <p>Produits et Services</p>
              <p>
                <i class="fa-brands fs-1 text-danger fa-product-hunt"></i>
              </p>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12" style="background-color: rgb(81, 158, 81)">
      <h5 class="text-white fs-6 pt-1">Paramètres Divers</h5>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-2 p-2 border">
      <a
        href="voiture/proprietaire/list"
        class="text-black text-decoration-none text-center"
      >
        <p>Assurés</p>
        <p>
          <i class="fa-solid fs-1 fa-user" style="color: rgb(81, 158, 81)"></i>
        </p>
      </a>
    </div>

    <div class="col-lg-2 p-2 border">
      <a
        href="voiture/station/liste"
        class="text-black text-decoration-none text-center"
      >
        <p>Partenaires</p>
        <p>
            <i class="fa-solid fs-1 text-danger fa-charging-station" ></i>
        </p>
      </a>
    </div>


    <div class="col-lg-2 p-2 border">
      <a
        href="voiture/stationPointVente/liste"
        class="text-black text-decoration-none text-center"
      >
        <p>Stations Points Vente</p>
        <p>
          <i
            class="fa-solid text-primary fs-1 fa-location-dot"
          
          ></i>
        </p>
      </a>
    </div>

    <div class="col-lg-2 p-2 border">
      <a
        href="voiture/fonction"
        class="text-black text-decoration-none text-center"
      >
        <p>Fonctions Agents</p>
        <p>
          <i
            class="fa-sharp fs-1 fa-solid text-info fa-person-breastfeeding"
           
          ></i>
        </p>
      </a>
    </div>

    <div class="col-lg-2 p-2 border">
      <a
        href="voiture/ville/list"
        class="text-black text-decoration-none text-center"
      >
        <p>Villes</p>
        <p>
            <i class="fa-solid fs-1 text-black fa-volleyball"    ></i>
        </p>
      </a>
    </div>

    <div class="col-lg-2 p-2 border">
      <a
        href="voiture/nationalite/list"
        class="text-black text-decoration-none text-center"
      >
        <p>Nationalités</p>
        <p>
          <i class="fa-solid fs-1 text-warning fa-flag" ></i>
        </p>
      </a>
    </div>
  </div>
</div>

<!-- <button class="form-control" (click)="callApi()">Appeler l'API</button> -->
