<div class="container">
  <li class="nav-item" style="list-style: none;">
    <a class="nav-link text-primary " style="cursor: pointer;" (click)="_location.back()"><i class="fa-solid fa-arrow-left"></i> Retour </a>
  </li>
  <h1 class="card-title text-center">Liste des marques automobiles</h1>
  <div class="row">
    <div class="col-lg-6">
      <label for="" class="text-center mx-1">Recherche</label>
      <div class="d-flex align-items-center">
        <i
          style="position: absolute"
          class="fa-solid fa-map-marked-alt p-3 text-success"
        ></i>
        <input
          type="text"
          (keyup)="applyFilter($event)"
          placeholder="Recherchez par ici..."
          class="form-control shadow text-start px-5 text-uppercase"
        />
      </div>
    </div>
    <div class="col-lg-6" >
      <button
        class="form-control col-lg-4 mt-4 bg-primary text-white"
        style="cursor: pointer;float: right;"
        (click)="create()"
      >
        Ajouter une marque automobile
      </button>
    </div>
  </div>
  <div class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource" *ngIf="!isLoading; else loader">
      <!-- Position Column -->
      <ng-container matColumnDef="Marque">
        <th class="bg-color-primary" mat-header-cell *matHeaderCellDef>marque</th>
        <td class="pointer" mat-cell *matCellDef="let element">
          {{ element.Marque }}
        </td>
      </ng-container>

      <ng-container matColumnDef="Actions">
        <th
          mat-header-cell
          class="text-end"
          style="padding-right: 65px"
          *matHeaderCellDef
        >
          Actions
        </th>

        <td
          mat-cell
          class="text-end"
          style="padding-right: 50px"
          *matCellDef="let element"
        >
          <button
            type="button"
            (click)="view(element)"
            class="btn text-lowercase py-0 px-1"
          >
            <i class="fa fa-eye text-black" aria-hidden="true"></i>
          </button>
          <button
            type="button"
            (click)="edit(element)"
            class="btn text-lowercase py-0 px-1"
          >
            <i class="fa fa-pencil text-black" aria-hidden="true"></i>
          </button>
          <button
            type="button"
            (click)="delete(element)"
            class="btn text-lowercase px-1 py-0"
          >
            <i class="fa fa-trash text-danger" aria-hidden="true"></i>
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
    <mat-paginator
    [pageSizeOptions]="[20, 40, 60]"
    showFirstLastButtons
    aria-label="Select page of periodic elements"
  >
  </mat-paginator>
  </div>

  <ng-template #loader>
    <div class="text-center">
      <div class="spinner-border" role="status">
        <span class="sr-only"></span>
      </div>
      <br />
      <span>Chargement...</span>
    </div>
  </ng-template>
</div>
